<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="local source" value="%CODEBUILD_SRC_DIR%\NugetFeed"/>
  </packageSources>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
  <activePackageSource>
    <add key="local source" value="%CODEBUILD_SRC_DIR%\NugetFeed"/>
  </activePackageSource>
</configuration>