name: Build Test

on:
  push:
    branches: 
    - main 
    - release/*
  pull_request:
    branches: [ main ]

jobs:
  build-test-AnalyzerRefacTests:
    runs-on: windows-2019
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Check for secrets leak on the repo
      run: |
          git clone https://github.com/awslabs/git-secrets.git target
          cd target
          ./install.ps1
          echo "Git-secrets installation completed"
          git secrets --register-aws --global
          echo "Added aws secret templates"
          git secrets --scan -r ../
          echo "Repository scan completed"
    - name: Setup .NET Versions
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: | 
          3.1.x
          5.0.x
          6.0.x
    - name: Install dependencies
      run: dotnet restore src/Codelyzer.sln
    - name: Build
      run: dotnet build --configuration Release --no-restore src/Codelyzer.sln
    - name: Tests for AnalyzerRefacTests
      run: dotnet test --configuration Release --no-build --no-restore --verbosity normal src/Codelyzer.sln --filter "FullyQualifiedName~Codelyzer.Analysis.Tests.AnalyzerRefacTests"
  
  build-test-AnalyzerWithGenerator:
    runs-on: windows-2019
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Check for secrets leak on the repo
      run: |
          git clone https://github.com/awslabs/git-secrets.git target
          cd target
          ./install.ps1
          echo "Git-secrets installation completed"
          git secrets --register-aws --global
          echo "Added aws secret templates"
          git secrets --scan -r ../
          echo "Repository scan completed"
    - name: Setup .NET Versions
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: | 
          3.1.x
          5.0.x
          6.0.x
    - name: Install dependencies
      run: dotnet restore src/Codelyzer.sln
    - name: Build
      run: dotnet build --configuration Release --no-restore src/Codelyzer.sln
    - name: Tests for AnalyzerWithGenerator
      run: dotnet test --configuration Release --no-build --no-restore --verbosity normal src/Codelyzer.sln --filter "FullyQualifiedName~Codelyzer.Analysis.Tests.AnalyzerWithGenerator"
          
  build-test-workspace:
    runs-on: windows-2019
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Check for secrets leak on the repo
      run: |
          git clone https://github.com/awslabs/git-secrets.git target
          cd target
          ./install.ps1
          echo "Git-secrets installation completed"
          git secrets --register-aws --global
          echo "Added aws secret templates"
          git secrets --scan -r ../
          echo "Repository scan completed"
    - name: Setup .NET Versions
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: | 
          3.1.x
          5.0.x
          6.0.x
    - name: Install dependencies
      run: dotnet restore src/Codelyzer.sln
    - name: Build
      run: dotnet build --configuration Release --no-restore src/Codelyzer.sln
    - name: Tests for Workspaces
      run: dotnet test --configuration Release --no-build --no-restore --verbosity normal src/Codelyzer.sln --filter "FullyQualifiedName~Codelyzer.Analysis.Workspace.Tests"

  build-test-other:
    runs-on: windows-2019
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Check for secrets leak on the repo
      run: |
          git clone https://github.com/awslabs/git-secrets.git target
          cd target
          ./install.ps1
          echo "Git-secrets installation completed"
          git secrets --register-aws --global
          echo "Added aws secret templates"
          git secrets --scan -r ../
          echo "Repository scan completed"
    - name: Setup .NET Versions
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: | 
          3.1.x
          5.0.x
          6.0.x
    - name: Install dependencies
      run: dotnet restore src/Codelyzer.sln
    - name: Build
      run: dotnet build --configuration Release --no-restore src/Codelyzer.sln
    - name: Tests
      run: dotnet test --configuration Release --no-build --no-restore --verbosity normal src/Codelyzer.sln --filter "FullyQualifiedName!~Codelyzer.Analysis.Tests.AnalyzerWithGenerator&FullyQualifiedName!~Codelyzer.Analysis.Tests.AnalyzerRefacTests&FullyQualifiedName~Codelyzer.Analysis.Workspace.Tests"
              
  deploy:
    needs: [build-test-AnalyzerRefacTests, build-test-AnalyzerWithGenerator, build-test-other, build-test-workspace]
    runs-on: windows-2019
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Check for secrets leak on the repo
      run: |
          git clone https://github.com/awslabs/git-secrets.git target
          cd target
          ./install.ps1
          echo "Git-secrets installation completed"
          git secrets --register-aws --global
          echo "Added aws secret templates"
          git secrets --scan -r ../
          echo "Repository scan completed"
    - name: Setup .NET Versions
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Install dependencies
      run: dotnet restore src/Codelyzer.sln
    - name: Build
      run: dotnet build --configuration Release --no-restore src/Codelyzer.sln
    - name: Pack
      if: ${{ github.event_name == 'push' }}
      run: dotnet pack --configuration Release --no-restore -o dist src/Codelyzer.sln
    - name: Install Sleet
      if: ${{ github.event_name == 'push' }}
      run: dotnet tool install -g sleet --version 3.2.0
    - name: "Configure AWS Credentials"
      if: ${{ github.event_name == 'push' }}
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
        aws-region: us-west-2
    - name: Publish
      if: ${{ github.event_name == 'push' }}
      run: sleet push dist --source s3Feed --verbose
